<a id="liketab" href="https://github.com/openebs/openebs/stargazers" target="_blank"
  class="btn btn-sm btn-outline-heart">
  <span class="heart-text">
    <i class="fa fa-heart" aria-hidden="true"></i>
  </span>
</a>

<!--section1-->
<section class="hacktoberfest-hero">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12 hackmain">
      </div>
    </div>
  </div>
</section>




<!--section2-->
<section class="pd-t-b-head" style="background-color:rgb(248, 252, 255);">
  <div class="container">
    <div class="row align-items-md-center">
      <div class="col-md-12 sec2">
        <a href="https://hacktoberfest.digitalocean.com/" target="_blank">
          <h1 class="pb-4 sec2head">REGISTER FOR HACKTOBERFEST</h1>
        </a>
      </div>
      <div class="col-md-12 sec2">
        <h2 class="sec2subhead">REGISTERED ALREADY? GET STARTED WITH ONE OF THE ISSUES FROM THE FOLLOWING REPOSITORIES
        </h2>
      </div>
    </div>
  </div>
</section>


<section class=" " style="background-color:rgb(248, 252, 255);">
  <div class="container">
    <div class="row">
      <div class="col-6 col-md-3 text-align-center padbtn">
        <a href="https://github.com/search?utf8=%E2%9C%93&q=org%3Aopenebs+is%3Aissue++label%3Ahacktoberfest+is%3Aopen&type="
          target="_blank">
          <button class="btn getting-started sec2btn" type="button">OPENEBS&nbsp;&nbsp;</button>
        </a>
      </div>
      <div class="col-6 col-md-3 text-align-center padbtn">
        <a href="https://github.com/search?q=repo%3Aopenebs%2Ftest-tools+repo%3Aopenebs%2Flitmus+label%3Ahacktoberfest+is%3Aissue+is%3Aopen"
          target="_blank">
          <button class="btn getting-started sec2btn" type="button">LITMUS&nbsp;&nbsp;</button>
        </a>
      </div>
      <div class="col-md-3 col-6 text-align-center padbtn">
        <a href="https://github.com/weaveworks/scope/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest"
          target="_blank">
          <button class="btn getting-started sec2btn" type="button">WEAVESCOPE&nbsp;&nbsp;</button>
        </a>
      </div>
      <div class="col-md-3 col-6 text-align-center padbtn">
        <a href="https://github.com/openebs/node-disk-manager/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest"
          target="_blank">
          <button class="btn getting-started sec2btn" type="button">NDM&nbsp;&nbsp;</button>
        </a>
      </div>
    </div>
    <div class="row justify-content-md-center" style="padding-top:1.5rem;">
      <div class="col-md-3 col-6 ">
        <a href="https://github.com/heptio/ark/issues" target="_blank">
          <button class="btn getting-started sec2btn" type="button">HEPTIO ARK&nbsp;&nbsp;</button>
        </a>
      </div>
      <div class="col-md-3 col-6 ">
        <a href="https://github.com/openebs/longhorn/issues?q=is%3Aissue+is%3Aopen+label%3Ahacktoberfest"
          target="_blank">
          <button class="btn getting-started sec2btn" type="button">LONGHORN&nbsp;&nbsp;</button>
        </a>
      </div>
    </div>
  </div>
</section>

<section style="background-color:rgb(248, 252, 255);">
  <div class="container">
    <div class="row" style="padding-top: 8%;padding-bottom: 8%;width: 100%;padding-left: 2rem;">
      <div class="col-md-4 col-12">
        <a href="https://github.com/openebs/maya/blob/master/CONTRIBUTING.md#sign-your-work" target="_blank">
          <img class="guideline" src="assets/images/guidelines.png" alt="guidelines">
        </a>
        <a href="https://github.com/openebs/maya/blob/master/CONTRIBUTING.md#sign-your-work" target="_blank">
          <p class="sec2para">
            <span class="slack">Read</span> the contributing guidelines for OpenEBS repositories </p>
        </a>
      </div>
      <div class="col-md-4 col-12">
        <a href="/assets/docs/WP-OpenEBS-0_7.pdf" target="_blank" download>
          <img class="wpaper" src="assets/images/openebswhitepaper.png" alt="whitepaper">
        </a>
        <a href="/assets/docs/WP-OpenEBS-0_7.pdf" target="_blank" download>
          <p class="sec2para">
            <span class="slack">Read</span> the OpenEBS architecture and design and jumpstart yourself</p>
        </a>
      </div>
      <div class="col-md-4 col-12" style="padding-left: 2rem;">
        <a href="http://slack.openebs.io/" target="_blank">
          <img class="slackimg1" src="assets/images/hacktoberfest2019/computer.svg" alt="computer ">
        </a>
        <a href="http://slack.openebs.io/" target="_blank">
          <p class="sec2para">For any queries or to learn more, talk to us on
            <span class="slack">SLACK</span>
          </p>
        </a>
      </div>
    </div>
  </div>



</section>

<!--section3-->
<section class="pd-t-b-head">
  <div class="container-fluid">
    <div class="row align-items-md-center">

      <div class="col-md-7">
        <h1 class="sec3head" style="color:#FF9A56; text-transform: uppercase;text-decoration-color: #2B81D8">Contribute
          and win
          <span style="color:#2B81D8;">additional swag from </span>openebs</h1>
        <br>
        <p class="sec3subhead">We are giving away special edition
          <span style="font-weight:bold"> T-shirts</span> and
          <span style="font-weight:bold"> stickers</span> to our hacktoberfest contributors. Every Contributor gets the
          chance to be
          <span style="font-weight:bold">
            featured on our website.</span>
        </p>
        <p class="sec3subhead1" style="color:#FF9A56;text-transform: uppercase;">the
          <span style="font-weight:bold"> best pr </span> submission gets to win
          <span style="font-weight:bold"> laptop!</span>
        </p>
      </div>
      <div class="col-md-5 sec3img">
        <img class="" src="assets/images/hacktoberfest2019/prizes.svg" alt="Laptop" style="width:70%;">
      </div>

    </div>
  </div>
</section>



<!--section4-->
<section class="pd-t-b-head" style="background-color:rgb(248, 252, 255);">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <h1 class="sec4head" style=" text-transform: uppercase;padding-top: 2rem;">bangalore onsite hacktoberfest
          workshops</h1>
        <br>
        <p class="sec4subhead">If you are in Bangalore, come meet us for our Hacktoberfest workshops. </p>
        <p class="sec4subhead1"
          style="color:#FF9A56;text-transform: uppercase;text-decoration: underline;text-decoration-color:#2B81D8;">
          details of the planned onsite events for october</p>
      </div>
    </div>
    <div class="row high" style="text-align: center;">
      <div class="col-md-3 col-12 drop">
        <img class=" date" src="assets/images/hacktoberfest2019/icon1.png" alt="Laptop ">
        <p class="time">10AM-4PM
          <br>
          <span style=" color:#FF9A56;"> OPEN SOURCE CAFE </span>
          <br> HSR LAYOUT BANGALORE
          <span style="font-weight:bold">
            <br>
          </span>
        </p>
        <div class="dropdown-4">
          <a href="https://www.meetup.com/OpenSource-Cafe/events/255061797" target="_blank">
            <p style="font-size:20px;color:#2B81D8;text-decoration: underline;">More details</p>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-12 drop">
        <img class=" date" src="assets/images/hacktoberfest2019/icon2.png" alt="Laptop ">
        <p class="time">10AM-4PM
          <br>
          <span style=" color:#FF9A56;"> OPEN SOURCE CAFE </span>
          <br> HSR LAYOUT BANGALORE
          <span style="font-weight:bold">
            <br>

          </span>
        </p>
        <div class="dropdown-4">
          <a href="https://www.meetup.com/OpenSource-Cafe/events/255061866/" target="_blank">
            <p style="font-size:20px;color:#2B81D8;text-decoration: underline;">More details</p>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-12 drop">
        <img class=" date" src="assets/images/hacktoberfest2019/icon3.png" alt="Laptop ">
        <p class="time">10AM-4PM
          <br>
          <span style=" color:#FF9A56;"> HACKERRANK </span>
          <br> HOSUR ROAD , BANGALORE
          <span style="font-weight:bold">
            <br>
          </span>
        </p>
        <div class="dropdown-4">
          <a href="https://www.meetup.com/OpenSource-Cafe/events/255061905/" target="_blank">
            <p style="font-size:20px;color:#2B81D8;text-decoration: underline;">More details</p>
          </a>
        </div>
      </div>
      <div class="col-md-3 col-12 drop">
        <img class=" date" src="assets/images/hacktoberfest2019/icon4.png" alt="Laptop ">
        <p class="time">10AM-4PM
          <br>
          <span style=" color:#FF9A56;"> OPEN SOURCE CAFE </span>
          <br> HSR LAYOUT BANGALORE
          <span style="font-weight:bold">
            <br>
          </span>
        </p>
        <div class="dropdown-4">
          <a href="https://www.meetup.com/OpenSource-Cafe/events/255061999/" target="_blank">
            <p style="font-size:20px;color:#2B81D8;text-decoration: underline;">More details</p>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
