/* Development Classes */
.b-con {
  border: 1px dotted grey;
}

.b-row {
  border: 1px dashed blue;
}

.b-col {
  border: 1px dotted green;
}

.b-gen {
  border: 1px dotted grey;
}

/* End of Development Classes*/

@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');

section {
  font-family: 'Lato', sans-serif;
}

img {
  font-family: 'Lato', sans-serif;
}

a:hover {
  text-decoration: none;
}

.section2 {
  background-image: url(/assets/images/hacktoberfest2019/section2.png);
  background-repeat: no-repeat;
  background-size: contain;
}


.section4 {
  background-image: url(/assets/images/hacktoberfest2019/section3.png);
  background-repeat: no-repeat;
  background-size: contain;
}

.laptop,
.tshirt {
  max-width: 350px;
}

@media screen and (max-width:768px) {

  .laptop,
  .tshirt {
    max-width: 100%;
  }

}
