<section>
  <div>
    <img src="assets/images/hacktoberfest2019/bg.png" class="img-fluid" style="width:100%;">
  </div>
</section>
<section class="section2">
  <div class="container  p-5">
    <div class="row">
      <div class="col-12">
        <h1 class="text-uppercase text-center h2 font-weight-bold">Get Started with your hacktoberfest journey</h1>
      </div>
      <div class="col-12  pt-3">
        <h3 class="text-uppercase text-center pb-5">Pick one of the issues from the following</h3>
        <div class="d-flex justify-content-between pt-2" style="max-width: 776px;margin:auto;">
          <button class="btn btn-primary" style="width:180px">Good First Issues</button>
          <button class="btn btn-primary" style="width:180px">OpenEBS</button>
          <button class="btn btn-primary" style="width:180px">Litmus</button>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #152347;">
  <div class="container  p-5">
    <div class="row">
      <div class="col-12 col-md-4  p-5 text-center">
        <i class="fa fa-file pb-3 text-white" style="font-size:80px;" aria-hidden="true"></i>
        <a href="https://github.com/openebs/openebs/blob/master/CONTRIBUTING.md" target="_blank">
          <p class="text-white">Read the contributing guidelines for OpenEBS repository <i
              class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></p>
        </a>
      </div>
      <div class="col-12 col-md-4  p-5 text-center">
        <i class="fa fa-file-text pb-3 text-white" style="font-size:80px;" aria-hidden="true"></i>
        <a href="https://github.com/openebs/openebs/issues" target="_blank">
          <p class="text-white">Read the OpenEBS architecture and design and jumpstart yourself <i
              class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></p>
        </a>
      </div>
      <div class="col-12 col-md-4  p-5 text-center">
        <i class="fa fa-slack pb-3 text-white" style="font-size:80px;" aria-hidden="true"></i>
        <a href="https://openebs.io/join-our-slack-community" target="_blank">
          <p class="text-white">For any query or to learn more, talk to us on SLACK <i
              class="fa fa-arrow-circle-o-right" aria-hidden="true"></i></p>
        </a>
      </div>
    </div>
  </div>
</section>
<section class="section4">
  <div class="container text-center  p-5">
    <div class="row">
      <div class="col-12  p-3">
        <h2 class="text-uppercase pb-3">Contribute and Win additions swags from MayaData</h2>
        <p>We are giving away special edition T-shirts and stickers to our hacktoberfest contributors.</p>
      </div>
    </div>
    <div class="row  px-5">
      <div class="col-12">
        <h3 class="text-uppercase">The best PR submission gets to win laptop!</h3>
        <div class="row">
          <div class="col-12 col-md-6 p-5 d-flex justify-content-center align-items-center">
            <img src="assets/images/hacktoberfest2019/laptop.png" class="img-fluid laptop">
          </div>
          <div class="col-12 col-md-6 p-5 d-flex justify-content-center align-items-center">
            <img src="assets/images/hacktoberfest2019/tshirt.png" class="img-fluid tshirt">
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section style="background-color: #152347;">
  <div class="container text-white">
    <div class="row  p-5">
      <div class="col-12  text-center">
        <h2 class="text-uppercase pb-3">Bangalore Onsite Hacktoberfest Workshops</h2>
        <p class="text-white">If you are in Bangalore, come meet us for our Hacktoberfest workshops</p>
      </div>
    </div>
    <div class="row  text-center">
      <div class="col-12">
        <div>
          <h2 class="text-uppercase h3">Details of the planned onsite events for october</h2>
          <div
            style="height:2.5px;background: linear-gradient(0.25turn, rgba(255,249,34), rgba(255,0,128), rgba(56,2,155,0));width:100%;">
          </div>
        </div>
        <div class="row  p-5">
          <div class="col-12 col-md-3">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984275/" target="_blank">
              <img src="assets/images/hacktoberfest2019/5Oct.png" class="img-fluid" style="max-width: 65%">
            </a>
            <h5 class="text-white font-weight-bold pt-2">10AM-4PM</h5>
            <p class="text-white">Open Source Cafe</p>
            <p class="text-white">HSR LAYOUT Bangalore</p>
          </div>
          <div class="col-12 col-md-3">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984331/" target="_blank">
              <img src="assets/images/hacktoberfest2019/12Oct.png" class="img-fluid" style="max-width: 65%">
            </a>
            <h5 class="text-white font-weight-bold pt-2">10AM-4PM</h5>
            <p class="text-white">Open Source Cafe</p>
            <p class="text-white">HSR LAYOUT Bangalore</p>
          </div>
          <div class="col-12 col-md-3">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984400/" target="_blank">
              <img src="assets/images/hacktoberfest2019/19Oct.png" class="img-fluid" style="max-width: 65%">
            </a>
            <h5 class="text-white font-weight-bold pt-2">10AM-4PM</h5>
            <p class="text-white">Open Source Cafe</p>
            <p class="text-white">HSR LAYOUT Bangalore</p>
          </div>
          <div class="col-12 col-md-3">
            <a href="https://www.meetup.com/OpenSource-Cafe/events/264984487/" target="_blank">
              <img src="assets/images/hacktoberfest2019/26Oct.png" class="img-fluid" style="max-width: 65%">
            </a>
            <h5 class="text-white font-weight-bold pt-2">10AM-4PM</h5>
            <p class="text-white">Open Source Cafe</p>
            <p class="text-white">HSR LAYOUT Bangalore</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
