<ngb-carousel id="events" [showNavigationArrows]="showNavigationArrows"
  [showNavigationIndicators]="showNavigationIndicators" #upcomingevents>
  <ng-template ngbSlide *ngFor="let slide of slides">
    <a href={{slide.eventURL}} target="_blank">
      <img src={{slide.eventImage}} alt="" class="img-fluid upcoming-events">
    </a>
    <p class="text-white text-center mb-0 pt-3">{{slide.eventLocation}}</p>
    <p class="text-white text-center pb-4">{{slide.eventTime}}</p>
  </ng-template>
</ngb-carousel>
