.nav-link:hover {
    text-decoration: underline;
  }
  
  .desktop-view {
    display: block;
  }
  
  #logo {
    margin-left: 5rem;
  }

  #navbarSupportedContent {
    font-weight: bold;
  }

  .mobile-view {
    display: none;
  }
  .github-star{
    background-color: #B5B5C0;
    border-radius: 2rem;
    font-size: 16px;
    margin-bottom: 0.3rem;
  }
  .github-star .github-block{
    padding: 0.2rem 0.5rem;
   
  }
  .github-star .bd-right-github{
    border-right: 1px solid #ddd
  }
  .github-thumup{
    font-size: 20px;
    margin-bottom: 0.1rem;
    margin-left: 1rem;
  }
  .github-thumup:hover{
    font-size: 25px;
  }

  @media screen and (max-width:990.9998px) {
    .mobile-nav {
      background: #B5B5C0;
      margin-top: 8px;
      margin-left: -16px;
      margin-right: -16px;
      height: 100vh;
    }
  
    .desktop-view {
      display: none;
    }
  
    .mobile-view {
      display: block;
    }
    #logo {
      margin-left: 0;
    }
  }
  
  @media screen and (max-width:358.99998px) {
    .display_320 {
      display: none;
    }
  }
  
