<div style="height:60px">
  <div class="fixed-top header" style="height:60px">
    <app-banner></app-banner>
    <nav class="navbar navbar-expand-lg navbar-light bg-white" style="height:60px">
      <div class="d-flex align-items-end" id="logo">
        <a class="navbar-brand" routerLink="/">
          <img src="assets/images/litmus-logo.svg" alt="litmus" height="29">
        </a>
        <div class="github-star">
          <a href="https://github.com/litmuschaos/litmus" class="black-color" target="_blank"> <span
              class="bd-right-github github-block"> <i class="fa fa-github" aria-hidden="true"></i> Star</span></a>
          <a href="https://github.com/litmuschaos/litmus/stargazers" class="black-color" target="_blank"> <span
              class="github-block">{{starCount}} </span></a>
        </div>
      </div>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse mobile-nav" id="navbarSupportedContent">
        <ul class="navbar-nav ml-auto">
          <li class="nav-item my-auto mx-3 active">
            <a class="nav-link" href="https://github.com/litmuschaos/" target="_blank" rel="noopener">GitHub</a>
          </li>
          <li class="nav-item my-auto mx-3 active">
            <a class="nav-link" href="https://hub.litmuschaos.io/" target="_blank" rel="noopener">ChaosHub</a>
          </li>
          <li class="nav-item my-auto mx-3 active">
            <a class="nav-link" href="https://docs.litmuschaos.io/" target="_blank" rel="noopener">Docs</a>
          </li>
          <li class="nav-item my-auto mx-3 active">
            <a class="nav-link" href="https://dev.to/t/litmuschaos/latest" target="_blank" rel="noopener">Blog</a>
          </li>
          <li class="nav-item my-auto mx-3 active">
            <a class="nav-link" href="https://kubernetes.slack.com/messages/CNXNB0ZTN" target="_blank">Community</a>
          </li>
          <li class="nav-item my-auto ml-3">
            <a class="nav-link" href="https://docs.litmuschaos.io" target="_blank">
              <button class="btn btn-blue font-weight-bold">Get Started</button>
            </a>
          </li>
        </ul>
      </div>
    </nav>
  </div>
</div>
