<div class="banner banner-info p-2" [ngClass]="{
  'hidebanner':hide
}">

  <div class="container-fluid desktop m-auto d-flex align-items-center justify-content-center banner-height"
    *ngIf="notification">
    <a class="notification" href={{notification.notification_url}} target="_blank" rel="noopener">
      <div class="row">
        <div class="col-md-12">
          <div class="d-flex justify-content-center align-items-center">
            <p class="mx-2 mx-lg-3 my-0 banner-font-size"> {{
              notification.notification_content }}</p>
            <p class="my-0">
              <span><img src="assets/images/icons/arrow-right.svg" style="height:11px" alt="arrow-right"></span>
            </p>
          </div>
        </div>
      </div>
    </a>
  </div>
</div>
