/* hero section */
.hero-section{
    background: #0063ff;
    padding: 2rem 0;
}
.hero-bg{
    background-image: url("/assets/images/herosection.svg");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
    height: 480px;
} 
.hero-section-litmus-logo{
    width: 192px;
    height: auto;
    margin-bottom: 1.5rem;
}

.hero-heading{
    color: white;
    font-weight: 300;
}
.hero-btn{
    background: white;
    margin-top:1.5rem;
}
.section-heading{
    font-weight: bold;
}