<section class="hero-section">
  <div class="container ">
    <div class="row hero-bg align-items-center">
      <div class="col-md-6">
        <img class="hero-section-litmus-logo" src="assets/images/litmuslogo/lightlogo.svg" alt="Litmus">
        <h1 class="hero-heading">Chaos Engineering for</h1>
        <h1 class="hero-heading">Kubernetes</h1>
        <button class="btn btn-lg hero-btn"> See in Action </button>
      </div>
    </div>
  </div>
</section>
<section class="hero-section">
  <div class="container">
    <h1> Click here to register for litmus hackthons</h1>
    <h1> Already Register ?</h1>
    <p> Get started with one of the issues from the following repositories </p>
  </div>
</section>
