<section class="hero-section hero-bg">
  <div class="container ">
    <div class="row  align-items-center">
      <div class="col-md-6 hero-sec">
        <div style="max-width:700px">
          <img class="hero-section-litmus-logo" src="assets/images/litmuslogo/lightlogo.svg" alt="Litmus">
          <h1 class="hero-heading">Cloud-Native Chaos Engineering for Kubernetes Developers and SREs</h1>
          <!-- <h1 class="hero-heading">For Kubernetes</h1> -->
          <a href="https://docs.litmuschaos.io" target="_blank"> <button class="btn btn-lg hero-btn"
              style="color:#0063ff;"> Get Started > </button></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pd-t-b-all">
  <div class="container">
    <h1 class="section-heading pb-4 text-center">Features</h1>
    <div class="row text-center">
      <div class="col-sm-3 py-3 py-md-0">
        <img class="img-fluid" src="assets/images/features/chaos-for-kubernetes.png" alt="Choas For Kubernetes">
        <div class="card border-0">
          <div class="card-body p-0">
            <h4 class="mb-3">Chaos For Kubernetes</h4>
            <p class="card-text">Litmus provides a complete toolset to practice chaos engineering on Kubernetes in a
              cloud-native way. Litmus offers chaos engineering as a natural extension of development and operations.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-3 py-md-0  ">
        <img class="img-fluid" src="assets/images/features/declarative-chaos.png" alt="Declarative Chaos">
        <div class="card border-0">
          <div class="card-body p-0">
            <h4 class="mb-3">Declarative Chaos</h4>
            <p class="card-text">Bring GitOps into chaos engineering. Define chaos, run chaos and observe chaos using
              Kubernetes Customer Resources.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3 py-3 py-md-0">
        <img class="img-fluid" src="assets/images/features/chaos-hub.png" alt="ChaosHub">
        <div class="card border-0">
          <div class="card-body p-0">
            <h4 class="mb-3">Chaos Hub</h4>
            <p class="card-text">Chaos Hub brings all the reusable chaos experiments together. Application developers
              and SRE share their chaos experiences for others to reuse.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-3 py-md-0">
        <img class="img-fluid" src="assets/images/features/pluggable-chaos.png" alt="Pluggable Chaos">
        <div class="card border-0">
          <div class="card-body p-0">
            <h4 class="mb-3">Pluggable Chaos</h4>
            <p class="card-text">Litmus toolset has a native chaos library for chaos injection. In addition, you can use
              other chaos tools such as Pumba and PowerfulSeal to be part of Litmus framework and take advantage of it’s
              features.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <a href="https://hub.litmuschaos.io" target="_blank">
    <div class="container-fuild">
      <div class="row">
        <div class="col-12">
          <img src="assets/images/chaos-hub.png" class="img-fluid">
        </div>
      </div>
    </div>
  </a>
</section>

<section>
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h2 class="section-heading pb-4 h1 text-center">Get started with Litmus</h2>
        <div>
          <div id='wrapper'>
            <pre class='code code-yaml'><code>kubectl apply -f &lt;litmus-install.yaml&gt;</code></pre>
          </div>
        </div>
        <div class="text-center pt-4 pb-5">
          <p>Once you install Litmus, download a chaos experiment from Chaos Hub and inject chaos. See <a
              href="https://docs.litmuschaos.io/example" target="_blank">example</a>.</p>
        </div>
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/94SFY3xdjXs"
            allowfullscreen></iframe>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container py-5"
    style="background-image: url(/assets/images/dots.png); background-repeat: no-repeat; background-size: cover">
    <div class="row">
      <div class="col-12 pb-5">
        <h2 class="font-weight-bold text-center pb-4" style="font-size: 60px;">Join Litmus Community</h2>
        <h4 class="text-center">Litmus community is on Kubernetes Slack. Join the #litmus channel</h4>
      </div>
      <div class="col-12 d-flex justify-content-center align-items-center flex-column">
        <h2 class="text-center pb-4">To Join <span class="d-inline-flex justify-content-center align-items-center"><img
              src="assets/images/litmuslogo/darklogo.svg" class="img-fluid"
              style="display: inline-block; height:33px;"></span>
          Community</h2>
        <h3 class="text-center pb-4">Join #Litmus channel on Kubernetes Slack</h3>
        <a href="https://kubernetes.slack.com/messages/CNXNB0ZTN" target="_blank">
          <button class="btn btn-primary text-center">Join Slack Channel</button>
        </a>
      </div>
    </div>
  </div>
</section>
