/* hero section */
.hero-section{
    background: #0063ff;
}
.hero-bg{
    background-image: url("/assets/images/litmus-bg.png");
    background-position: center; /* Center the image */
    background-repeat: no-repeat; /* Do not repeat the image */
    background-size: cover;
} 
.hero-sec{
    height: 480px;
    background-color: rgb(0,99,255,0.6);
    display: flex;
    align-items: center;
    justify-content: center;
}
.hero-section-litmus-logo{
    width: 192px;
    height: auto;
    margin-bottom: 1.5rem;
}

.hero-heading{
    color: white;
    font-weight: 300;
}
.hero-btn{
    background: white;
    margin-top:1.5rem;
}
.section-heading{
    font-weight: bold;
    color: #23232A
}
.what-is-litmus-icons{
    height: 65px;
    width: 65px;
}
.why-litmus-icons{
    height: 45px;
    width: 45px;
}
.why-litmus-img{
    height: 248px;
    width: auto;
    margin-left: 3rem;
}
.why-litmus-card{
    height: 180px;
}
.who-use-litmus{
    height: 190px;
    width: auto;
    float: right;
}
code{
    color: #1BE0E6;
    margin-left: 1rem;
}
.kubeclt-command{
    padding: 0.6rem ;
    background: black;
    margin-top:0.1rem;
    margin-bottom: 0.4rem;
}
.kubeclt-command-middle{
    margin-top: 2rem;
    margin-bottom: 2rem;
}
.text-decoration-hover:hover{
    text-decoration: none;
}
.litmus-resources-icon{
    height: 55px;
    width: 55px;
}
.resources-section{
    background: #EFEFF2;
}
.resources-btn{
    background:#EFEFF2;
    border-radius: 4px;
    border: 0;
    color: #23232A;
}
.resources-p-height{
    height: 55px;
}

@media screen and (max-width: 768px){
    .hero-bg{
        background-image: none;
        height: auto;
        padding-top: 2rem;
        padding-bottom: 2rem;
    }
    .section-heading{
        font-size:  32px;
    }
    .hero-heading{
        font-size:  28px;
    }   
    .why-litmus-img{
        margin: 0;
    }
    .section-subheading{
        font-size:20px;
        padding-top: 2rem;
    }
    .why-litmus-card{
        height: auto;
    }
    .who-use-litmus{
        float: none;
        margin-top: 2rem;
    }
    .resources-p-height{
        height: auto;
    }
    .resources-btn{
     margin-top: 1rem;
    }
    .btn-copy{
        display: none;
    }
    code{
        margin-left: 0rem;
    }
}