<section class="hero-section hero-bg">
  <div class="container ">
    <div class="row  align-items-center">
      <div class="col-md-6 hero-sec">
        <div style="max-width:700px">
          <img class="hero-section-litmus-logo" src="assets/images/litmuslogo/litmus-white.svg" alt="Litmus">
          <h2 class="hero-heading">Cloud-Native Chaos Engineering <br class="display-none-on-mob" />for<br
              class="display-none-on-mob" /> Kubernetes Developers
            and SREs</h2>
          <a href="https://docs.litmuschaos.io" target="_blank"> <button class="btn btn-lg hero-btn"
              style="color:#0063ff;"> Get Started > </button></a>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="pd-t-b-all">
  <div class="container">
    <h1 class="section-heading pb-5 text-center">Features</h1>
    <div class="row text-center">
      <div class="col-sm-3 py-3 py-md-0">
        <img class="img-fluid feature-img" src="assets/images/features/chaos-for-kubernetes.png"
          alt="Choas For Kubernetes">
        <div class="card border-0 pt-3">
          <div class="card-body p-0">
            <h4 class="mb-3">Chaos For Kubernetes</h4>
            <p class="card-text">Litmus provides a complete toolset to practice chaos engineering on Kubernetes in a
              cloud-native way. Litmus offers chaos engineering as a natural extension of development and operations.
            </p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-3 py-md-0">
        <img class="img-fluid feature-img" src="assets/images/features/declarative-chaos.png" alt="Declarative Chaos">
        <div class="card border-0 pt-3">
          <div class="card-body p-0">
            <h4 class="mb-3">Declarative Chaos</h4>
            <p class="card-text">Bring GitOps into chaos engineering. Define chaos, run chaos and observe chaos using
              Kubernetes Custom Resources.</p>
          </div>
        </div>
      </div>

      <div class="col-sm-3 py-3 py-md-0">
        <img class="img-fluid feature-img" src="assets/images/features/chaos-hub.png" alt="ChaosHub">
        <div class="card border-0 pt-3">
          <div class="card-body p-0">
            <h4 class="mb-3">ChaosHub</h4>
            <p class="card-text">ChaosHub brings all the reusable chaos experiments together. Application developers
              and SRE share their chaos experiences for others to reuse.</p>
          </div>
        </div>
      </div>
      <div class="col-sm-3 py-3 py-md-0">
        <img class="img-fluid feature-img" src="assets/images/features/pluggable-chaos.png" alt="Pluggable Chaos">
        <div class="card border-0">
          <div class="card-body p-0 pt-3">
            <h4 class="mb-3">Pluggable Chaos</h4>
            <p class="card-text">Litmus toolset has a native chaos library for chaos injection. In addition, you can use
              other chaos tools such as Pumba and PowerfulSeal to be part of Litmus framework and take advantage of
              their chaos features.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <a href="https://hub.litmuschaos.io" target="_blank">
    <picture>
      <source media="(max-width: 767.99998px)" srcset="assets/images/chaos-hub-mob.png">
      <img src="assets/images/chaos-hub.png" alt="chaos hub" class="img-fluid" style="width:100%;">
    </picture>
  </a>
</section>

<section>
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <h2 class="section-heading pb-4 h1 text-center">Get started with Litmus</h2>
        <div>
          <div id='wrapper'>
            <pre
              class='code code-yaml'><code>kubectl apply -f https://litmuschaos.github.io/pages/litmus-operator-latest.yaml</code></pre>
          </div>
        </div>
        <div class="text-center pt-4 pb-5">
          <p>Once you install Litmus, download a chaos experiment from ChaosHub and inject chaos. See <a
              href="https://docs.litmuschaos.io/docs/next/example.html" target="_blank">example</a>.</p>
        </div>
        <div class="row d-flex">
          <div class="col-12 m-auto" style="max-width: 700px;">
            <a href="https://asciinema.org/a/G9TcXpgikLuGTBY7btIUNSuWN" target="_blank"><img
                src="https://asciinema.org/a/G9TcXpgikLuGTBY7btIUNSuWN.svg" class="img-fluid" /></a>
          </div>
        </div>
        <!-- <div>
          <asciinema-player src="assets/cast/litmus-demo.cast" cols="132" rows="17"></asciinema-player>
        </div> -->
      </div>
    </div>
  </div>
</section>

<section class="py-5">
  <div class="container">
    <div class="row join-our-community">
      <div class="col-12 pb-5">
        <h2 class="section-heading pb-4 h1 text-center">Join Litmus Community</h2>
        <h4 class="text-center">Litmus community is on Kubernetes Slack.</h4>
      </div>
      <div class="col-12">
        <div class="d-flex justify-content-center align-items-center flex-column">
          <a href="https://kubernetes.slack.com/messages/CNXNB0ZTN" target="_blank">
            <button class="btn btn-primary text-center">Join #litmus Channel</button>
          </a>
        </div>
      </div>
    </div>
  </div>
</section>
