/* hero section */
.hero-section {
  background: #0063ff;
}

.hero-bg {
  background-image: url("/assets/images/litmus-bg.png");
  background-position: right;
  /* Center the image */
  background-repeat: no-repeat;
  /* Do not repeat the image */
  background-size: cover;
  height: 35rem;
}

#icon {
  width: 1.5rem;
  margin: 0 0.5rem;
}

#info-text {
  line-height: 1.8;
  font-size: 1.12rem;
}

.hero-sec {
  height: 480px;
  /* background-color: rgb(0, 99, 255, 0.6); */
  display: flex;
  align-items: center;
  justify-content: center;
}

.hero-section-litmus-logo {
  width: 192px;
  height: auto;
  margin-bottom: 1.5rem;
}

.hero-heading {
  color: white;
  font-weight: 300;
}

.hero-btn {
  background: white;
  margin-top: 1.5rem;
}

.section-heading {
  font-weight: bold;
  color: #23232A
}

.whylitmus {
  width: 70%;
}

.what-is-litmus-icons {
  height: 65px;
  width: 65px;
}

.why-litmus-icons {
  height: 45px;
  width: 45px;
}

.getting-started {
  background-color: whitesmoke;
}
.why-litmus-img {
  height: 248px;
  width: auto;
  margin-left: 3rem;
}

.why-litmus-card {
  height: 180px;
}

.who-use-litmus {
  height: 190px;
  width: auto;
  float: right;
}

code {
  color: #1BE0E6;
  margin-left: 1rem;
}

.kubeclt-command {
  padding: 0.6rem;
  background: black;
  margin-top: 0.1rem;
  margin-bottom: 0.4rem;
}

.kubeclt-command-middle {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.text-decoration-hover:hover {
  text-decoration: none;
}

.litmus-resources-icon {
  height: 55px;
  width: 55px;
}

.resources-section {
  background: #EFEFF2;
}

.resources-btn {
  background: #EFEFF2;
  border-radius: 4px;
  border: 0;
  color: #23232A;
}

.resources-p-height {
  height: 55px;
}

/* code Code */


#wrapper {
  padding: 0%;
  margin: 0 auto;
}

/* CSS Simple Pre Code */
pre {
  background: #333;
  white-space: pre;
  word-wrap: break-word;
  overflow: auto;
}

pre.code {
  margin: 20px 25px;
  border-radius: 4px;
  border: 1px solid #292929;
  position: relative;
}

pre.code label {
  font-family: sans-serif;
  font-weight: bold;
  font-size: 13px;
  color: #ddd;
  position: absolute;
  left: 1px;
  top: 15px;
  text-align: center;
  width: 60px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  pointer-events: none;
}

pre.code code {
  font-family: "Inconsolata", "Monaco", "Consolas", "Andale Mono", "Bitstream Vera Sans Mono", "Courier New", Courier, monospace;
  display: block;
  margin: 0 0 0 0px;
  padding: 15px 16px 14px;
  border-left: 1px solid #555;
  overflow-x: auto;
  font-size: 13px;
  line-height: 19px;
  color: #ddd;
}

/* pre::after {
  content: "Double Click to Select";
  padding: 0;
  width: auto;
  height: auto;
  position: absolute;
  right: 18px;
  top: 14px;
  font-size: 12px;
  color: #ddd;
  line-height: 20px;
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  transition: all 0.3s ease;
} */

pre:hover::after {
  opacity: 0;
  visibility: visible;
}

pre.code-css code {
  color: #91a7ff;
}

pre.code-html code {
  color: #aed581;
}

pre.code-javascript code {
  color: #ffa726;
}

pre.code-yaml code {
  color: #fefefe;
}

pre.code-jquery code {
  color: #4dd0e1;
}

.join-our-community {
  background-image: url(/assets/images/dots.png);
  background-repeat: no-repeat;
  background-size: cover;
  padding-bottom: 10rem;
}

#cncf-logo {
  width: 25em;
  margin-bottom: 1rem;
}

#community-buttons {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

#comm-btn {
  width: 10rem;
}

@media screen and (max-width: 768px) {
  .heading {
    padding-left: 1.3rem;
  }
  .whylitmus {
    width: 100%;
  }
  #cncf-logo {
    width: 100%;
  }
  .hero-bg {
    background-image: none;
    height: auto;
    padding-top: 2rem;
    padding-bottom: 2rem;
  }

  .join-our-community {
    background: none;
    padding: 0px 0px
  }

  .section-heading {
    font-size: 32px;
  }

  .hero-heading {
    font-size: 28px;
  }

  .why-litmus-img {
    margin: 0;
  }

  .section-subheading {
    font-size: 20px;
    padding-top: 2rem;
  }

  .why-litmus-card {
    height: auto;
  }

  .who-use-litmus {
    float: none;
    margin-top: 2rem;
  }

  .resources-p-height {
    height: auto;
  }

  .resources-btn {
    margin-top: 1rem;
  }

  .btn-copy {
    display: none;
  }

  code {
    margin-left: 0rem;
  }

  .feature-img {
    max-width: 75%;
  }

  .display-none-on-mob {
    display: none;
  }
}
