.owl-prev,
.owl-next {
  width: 15px;
  height: 100px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  display: block !important;
  border: 0px solid black;
}

.owl-prev {
  left: -20px;
}

.owl-next {
  right: -20px;
}

.owl-prev i,
.owl-next i {
  transform: scale(2, 5);
  color: #ccc;
}

.workload-images {
  -webkit-filter: grayscale(100%);
  filter: grayscale(100%);
}

.workload-images:hover,
.workload-images:focus {
  -webkit-filter: grayscale(0%);
  filter: grayscale(0%);
  transform: scale(1.1);
  transition: transform 0.2s ease-in-out 0.1s;
}

.workloads {
  padding: 35px;
}

@media screen and (max-width:767px) {
  .workloads {
    padding: 15px;
  }
}

@media screen and (max-width:576px) {
  .workloads {
    padding: 10px 55px;
  }
}

@media screen and (max-width:480px) {
  .workloads {
    padding: 10px 55px;
  }
}

@media screen and (max-width:400px) {
  .workloads {
    padding: 10px 40px;
  }
}
