<div class="section-block pb-3" style="background-color:#23232A; color:#fefefe">
  <div class="container">
    <div class="row">
      <div class="col-md-12 pb-3">
        <div class="row">
          <div class="col-md-12 col-lg-9">
            <p class="pb-3 text-uppercase font-weight-bold">Interested in our newsletter?</p>
            <form class="form-inline py-3 py-md-0" novalidate [formGroup]="leadForm" (ngSubmit)="formSubmit()">
              <div class="form-group mr-sm-3">
                <input type="email" class="form-control form-control-lg newsletter-input" aria-describedby="emailHelp"
                  placeholder="Enter Your Email" maxlength="250" id="agilefield-3" name="email" id="agilefield-2"
                  formControlName="email" [ngClass]="{
                  'valid_input':email.valid && (email.touched || email.dirty),
                  'invalid_input':email.invalid && (email.touched || email.dirty
                  || isFormEmpty)
                  }">
              </div>
              <button type="submit" class="btn btn-white-xl btn-lg subscribe-btn" id="slacksubmit" data-toggle="modal"
                data-target="#openebsnewsletterthanks" [disabled]="!leadForm.valid">Subscribe</button>
            </form>

            <!-- <form class="form-view theme2 b-d" novalidate [formGroup]="leadForm" (ngSubmit)="formSubmit()">
              <div class="d-flex flex-column justify-content-md-between">
                <div class="form-group required-control newsletter-input-1">
                  <input maxlength="250" id="agilefield-1" name="first_name" id="agilefield-1" formControlName="name"
                    type="text" placeholder="NAME" class="form-control form-control-lg input-width" [ngClass]="{
                  'valid_input':name.valid && (name.touched || name.dirty),
                  'invalid_input':name.invalid && (name.touched || name.dirty ||
                  isFormEmpty)
                  }">
                </div>
                <div class="form-group required-control newsletter-input-2">
                  <input maxlength="250" id="agilefield-3" name="email" type="email" id="agilefield-2"
                    formControlName="email" placeholder="EMAIL" class="form-control form-control-lg input-width"
                    [ngClass]="{
                  'valid_input':email.valid && (email.touched || email.dirty),
                  'invalid_input':email.invalid && (email.touched || email.dirty
                  || isFormEmpty)
                  }">
                </div>
              </div>
              <div>
                <button type="submit" class="btn btn-blue-lg text-uppercase" id="slacksubmit" data-toggle="modal"
                  data-target="#openebsnewsletterthanks" [disabled]="!leadForm.valid">Submit</button>
              </div>
            </form> -->
          </div>
          <div class="col-md-12 col-lg-3 d-flex justify-content-md-start align-items-md-center justify-content-lg-end align-items-lg-end
            pt-4 pt-md-5 pt-lg-0">
            <li id="social-icons" style="list-style-type:none">
              <ul class="d-flex justify-content-center justify-content-md-between" *ngIf="social_icons">
                <li *ngFor="let social_icon of social_icons" class="pr-md-3 pl-md-0 pr-lg-0 pl-lg-3">
                  <a href={{social_icon.url}} target="_blank">
                    <img src={{social_icon.src}} alt={{social_icon.alt}} height="24px;">
                  </a>
                </li>
              </ul>
            </li>
          </div>
          <div class="col-12 py-2 py-md-4">
            <hr class="w-100" style="border-top: 1.5px solid #fefefe;">
          </div>
        </div>
      </div>
      <div class="col-md-12 top-footer">
        <div class="row">
          <div class="col-md-12 col-lg-2 pb-md-5 pb-lg-0">
            <p class="pb- 4 p-md-0"><img src="assets/images/litmuslogo/litmusicon.svg" style="height:40px"
                alt="litmus"></p>
          </div>
          <div class="col-md-3 col-lg-2 pt-4 pt-md-0">
            <ul>
              <li><a href="#resources" class="text-uppercase font-weight-bold">Resources</a></li>
              <li><a href="https://litmusdocs.openebs.io/" target="_blank" class="text-uppercase font-weight-bold">Docs</a>
              </li>
              <li><a href="https://blog.openebs.io/tagged/litmus" target="_blank" class="text-uppercase font-weight-bold">Blog</a>
              </li>
              <li><a href="/join-our-community" class="text-uppercase font-weight-bold">Community</a></li>
              <li><a href="https://github.com/litmuschaos" class="text-uppercase font-weight-bold" target="_blank"
                  rel="noopener noreferrer">GitHub</a></li>
            </ul>
          </div>
          <div class="col-md-3 col-lg-2">
            <ul>
              <li><a href="https://mayadata.io/aboutus" target="_blank"
                  class="text-uppercase font-weight-bold">Company</a>
              </li>
              <li><a href="https://mayadata.io/aboutus" target="_blank" rel="noopener">About Us</a>
              </li>
              <li><a href="https://openebs.io/events">Events</a></li>
              <li><a href="https://mayadata.io/careers" target="_blank" rel="noopener noreferrer">Careers</a></li>
            </ul>
          </div>
          <div class="col-md-2 col-lg-2">
            <!-- <ul>
              <li><a href="https://docs.openebs.io/" target="_blank" class="text-uppercase font-weight-bold">Docs</a>
              </li>
              <li><a href="https://docs.openebs.io/" target="_blank" class="text-uppercase font-weight-bold">Blog</a>
              </li>
              <li><a routerLink="/join-our-community" class="text-uppercase font-weight-bold">Community</a></li>
              <li><a href="https://github.com/openebs/" class="text-uppercase font-weight-bold" target="_blank"
                  rel="noopener noreferrer">GitHub</a></li>
            </ul> -->
          </div>
          <div class="col-md-4 col-lg-3">
            <p class="text-uppercase font-weight-bold text-center pb-3">We are participating in</p>
            <app-upcoming-event-carousel></app-upcoming-event-carousel>
          </div>
        </div>
      </div>
      <div class="col-md-12 bottom-footer" style="padding-top:10px">
        <ul class="d-block d-md-flex justify-content-md-between align-items-md-end">
          <li>
            <p class="text-uppercase font-weight-bold">Main Sponsor of Litmus</p>
            <p class="p-0"><img src="assets/images/footer/mayadata-white-logo.png" class="mayadata-logo" alt="mayadata">
            </p>
          </li>
          <li>
            <p [innerHTML]="copyright_text" class="copyright pt-2 pt-md-0 text-white"> hgvg</p>
          </li>
          <li class="pb-0" style="margin-right: 10px;visibility: hidden;">
            <ul class="d-block d-md-flex justify-content-md-between">
              <li>
                <p><a href="/privacy-policy">Privacy Policy</a></p>
              </li>
              <li>
                <p><a href="/terms-conditions">Terms & Conditions</a></p>
              </li>
              <li>
                <p><a href="https://openebs.io/join-our-community">Support</a></p>
              </li>
              <li>
                <p><a href="/">Community Guidelines</a></p>
              </li>
            </ul>
          </li>
        </ul>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-12">
      <div class="modal fade show" id="openebsnewsletterthanks" tabindex="-1" role="dialog"
        aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered rounded-0" role="document">
          <div class="modal-content text-center">
            <div class="modal-header d-flex justify-content-center" style="background-color:#43BD9B;">
              <img class="m-t-b-2" src="assets/images/newslettersignup.svg" alt="" height="80">
            </div>
            <div class="modal-body pd-t-b-heading1">
              <h2 style="font-weight: 600;" class="pd-t-05">Subscription Successful</h2>
              <p style="color: #E86029;">Thank you for subscribing Litmus
                Newsletter</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
