.LeftColumn
{
    
    max-width: 49.4375rem;
}
.kubernetestext
{
    max-width: 37.5rem;
    margin-top: 1rem;
    color : #6F6F6F;
    margin-top: 2.4375rem;
}

.kubernetesHeading
{
    margin-top: 6.3125rem;
    
}
.GetStartedButton
{
    margin-top: 2.4437rem;
    margin-bottom: 8.75rem;
}

