.LeftColumn
{
    
    max-width: 791px;
}
.kubernetestext
{
    max-width: 600px;
    margin-top: 1rem;
    color : #6F6F6F;
    margin-top: 39px;
}

.kubernetesHeading
{
    margin-top: 101px;
    font-size: 48px;
}
.GetStartedButton
{
    margin-top: 39px;
    margin-bottom: 140px;
}

