<div class="container">
  <div class="row" style="padding:2rem;">
    <div class="pd-t-b-heading1 text-center" style="margin:auto;">
      <h2 style="font-weight: 600;" class="pd-t-05">Thank You !</h2>
      <p style="color: #606060">We are excited about the event.
        <br>We will keep updating you with all the latest actions and happenings.</p>
      <a href="/events" target="_blank">
        <button type="submit" class="btn ebs-btn mt-4 mr-0" style="border-radius: 0;font-size: 1rem;">Checkout upcoming events</button>
      </a>
    </div>
  </div>
</div>
